<html>

<head>
    <title>(╯°□°）╯︵ ┻━┻</title>
</head>

<body>
    <p>Filter by full name:
        <input type="text" name="q" id="q">
    </p>

    <div id="batch">
        {{block "batch" .}}
        <table id="ws-user">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>MSISDN</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Current Age</th>
                <th>Time Created</th>
                <th>Time Updated</th>
            </tr>

            {{ range $index, $user := .users }}
            <tr>
                <td>{{ $user.ID }}</td>
                <td>{{ $user.Name }}</td>
                <td>{{ $user.MSISDN }}</td>
                <td>{{ $user.Email }}</td>
                <td>{{ $user.BirthDate }}</td>
                <td>{{ $user.UserAge }}</td>
                <td>{{ $user.CreatedTime }}</td>
                <td>{{ $user.UpdatedTime }}</td>
            </tr>
            {{ end }}
        </table>

        <p>Visitors: {{ .visitorCount }}</p>
        <p>Searches: {{ .searchCount }}</p>
        {{end}}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#q").on("input", function () {
                $.get("/api/get?q=" + this.value, function (data, status) {
                    $("#batch").html(data)
                });
            });
        });
    </script>
</body>

</html>